@import "reset.css";
@import "fonts.css";

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    min-width: 320px;
}



header {
    background: #313A5A;
    border-bottom: 1px solid transparent;
}
header > .wrapper {
    padding-top: 125px;
}

.wrapper {
    max-width: 1257px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
}

header .wrapper:after {
    content: "";
    display: block;
    clear: both;
}

.drop-down {
    top: -200px;
    transition: top .4s ease;
}
.drop-down.dropped {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 5px 10px 0;
    background-color: rgba(49,58,90, .8);
    margin-bottom: 0;
    left: 0;
    z-index: 999;
}

.top-line {
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
    transition: top .4s ease;
}


.top-line:after {
    display: block;
    content: "";
    clear: both;
}

.burger-button {
    width: 25px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 4px;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    display: none;

}

.burger-item {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
    display: inline-block;
    position: relative;
    transition: left .4s ease, opacity .4s ease, transform .4s ease;
    left: 0;

}

.burger-open .burger-item:first-child {
    top: 7px;
    transform: rotate(45deg);
}

.burger-open .burger-item:last-child {
    bottom: 7px;
    transform: rotate(-45deg);
}

.burger-open .burger-item:nth-child(2n) {
    opacity: 0;
    left: -100px;
}

.logo-container {
    float: left;
}

.logo {
    font-weight: 500;
    line-height: 58px;
    font-size: 26px;
    color: #fff;
}
.header-navigation {
    display: inline-block;
    margin-right: -38px;
    transition: top .4s ease;
}
.navigation-list {
    font-size: 16px;
    line-height: 58px;
    text-align: center;
}
.navigation-item {
    display: inline-block;
    margin-right: 37px;
    line-height: 20px;
}

.header-navigation .navigation-link {
    color: #fff;
    display: block;
    position: relative;
}
.header-navigation .navigation-link:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    opacity: 0;
    left: -100px;
    transition: all .4s ease;
}
.header-navigation .navigation-link:hover:before {
    left: 0;
    opacity: 1;
}

.user_area {
    float: right;
    color: #fff;
    line-height: 58px;
}
.user_area a {
    color: inherit;
    display: inline-block;
}

.button {
    transition: background-color .4s ease;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #1FDB84;
    box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.register-button {
    line-height: 34px;
    width: 120px;
    padding: 3px 0;
    margin-left: 38px;
}
.button:hover {
    background-color: #00D555;
}
.login-button {
    transition: all .4s ease;
}
.login-button:hover {
    color: #1FDB84;
}
.header-content {
    color: #fff;
    display: inline-block;
    max-width: 485px;
    vertical-align: top;
}

.header-heading {
    font-size: 43px;
    line-height: 57px;
    padding-right: 30px;
    margin-bottom: 33px;

}
.header-content-discription {
    line-height: 32px;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 55px;
}

.header-content-button {
    color: inherit;
    display: inline-block;
    padding: 17px 0;
    width: 200px;
    font-size: 18px;
    line-height: 21px;

}

.header-img-container {
    max-width: 41%;
    float: right;
    margin-top: -87px;
    margin-right: 41px;
    font-size: 0;

}
.header-img {
    width: 100%;
    max-width: 463px;
}

main {
    background-color: #F8F9FC;
    border-top: 1px solid transparent;
    padding-bottom: 130px;
}

.dignity {
    max-width: 1257px;
    background-color: #fff;
    box-shadow: 0 10px 34px rgba(210, 210, 210, 0.5);
    border-radius: 6px;
    margin-top: -100px;
    margin-bottom: 200px;
    position: relative;
    z-index: 100;
    padding: 60px 0 80px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.dignity-item {
    max-width: 300px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 50px;

}

.dignity .dignity-item:last-child {
    margin-right: 0;
}


.dignity-item:after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #1fdb84;
    top: 50%;
    left: 0;
}
.dignity-item-img-container {
    width: 72px;
    height: 72px;
    background-color: #E9FBF3;
    text-align: center;
    border-radius: 6px;
    line-height: 72px;
    margin-bottom: 26px;
}


.dignity-item-heading {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #031D5B;
    margin-bottom: 56px;
}
.dignity-item-img {
    vertical-align: middle;
}

.dignity-item-discription {
    font-size: 16px;
    line-height: 32px;
    color: #5B6C94;
}

.paid-container {
    margin-bottom: 150px;
}

.paid-heading {
    color: #32325C;
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 64px;
    font-size: 40px;
    margin-bottom: 50px;
}

.tabs-button {
    margin-left: auto;
    margin-right: auto;
    max-width: 470px;
    margin-bottom: 120px;
}

.tabs-button-list {
    font-size: 0;
}

.tabs-button-item {
    display: inline-block;
    text-transform: uppercase;
    color: #6FDEAA;
    font-weight: bold;
    text-align: center;
    background-color: #F1FFF8;
    transition: background-color .4s ease;
}

.tabs-button-item:first-child {
    border: 1px solid #AEFDD9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 162px;
    transition: color .4s ease;
}

.tabs-button-item:last-child {
    padding-right: 0;
    background-color: #F1FFF8;
    border: 1px solid #AEFDD9;
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 308px;
}

.tabs-button-item.active {
    background-color: #fff;
    color: #1FDB84;
}

.tabs-button-link {
    color: inherit;
    letter-spacing: 2px;
    display: block;
    font-size: 16px;
    height: 100%;
    padding: 20px 0;
}
.tabs-list {
    display: flex;
    justify-content: space-around;
    display: none;
    flex-wrap: wrap;
}
.tabs-list.active {
    display: flex;
}

.tabs-list-item {
    margin-bottom: 100px;
    max-width: 380px;
    flex-basis: 380px;
    text-align: center;
    position: relative;
    padding: 50px 0;
    border-top: 3px solid transparent;
}

.tabs-list-heading {
    font-size: 24px;
    line-height: 32px;
    color: #32325c;
    margin-bottom: 30px;
}

.tabs-list-price {
    color: #1fdb84;
    font-size: 72px;
    line-height: 64px;
    margin-bottom: 15px;
}
.tabs-list-services-list {
    margin-bottom: 125px;
    text-align: center;
}

.tabs-list-price-discription, .tabs-list-services-item {
    line-height: 32px;
    color: #5b3c93;
}
.tabs-list-price-discription {
    margin-bottom: 60px;
    display: inline-block;
    text-align: center;
}
.tabs-list-services-item {
    margin-bottom: 20px;
}

.tabs-list-item-button {
    width: 255px;
    line-height: 21px;
    padding: 17px 0;
    display: inline-block;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}

.tabs-list-item.active {
    background-color: #fff;
    box-shadow: 0px 7px 24px rgba(83, 83, 83, 0.1);
    border-color: #0A8AFF;
}

.reviews {
    background: url("../img/quotes_bg.png") no-repeat 0 30px;
    position: relative;
    padding: 70px 0 210px 20px;
    overflow: hidden;
    margin-bottom: 200px;

}

.reviews-heading {
    font-weight: 500;
    color: #031D5B;
    font-size: 40px;
    text-transform: capitalize;
    width: 280px;
    line-height: 48px;
    margin-bottom: 85px;
}

.background-block {
    background-color: #313A5A;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
}

.reviews-slider-element {
    max-width: 370px;
    background-color: #fff;
    position: relative;
    z-index: 3;
    font-size: 18px;
    border-radius: 5px;
    padding: 80px 50px 60px 50px;
    margin-bottom: 50px;
    min-height: 500px;
    max-height: 500px;
    transition: all .4s ease;
}


.icon-qoutes:before {
    content: "\e900";
    color: #1fdb84;
    font-family: 'icomoon';
    font-size: 45px;
}

.reviews-content {
    line-height: 36px;
    color: #5B6C94;
    margin-bottom: 50px;
    max-width: 320px;
}

.reviews-author {
    color: #031d5b;
    font-weight: 500;
    position: absolute;
    bottom: 10%;
    left: 24%;
    transform: translate(-22%, 0);
}

.reviews-organization {
    color: #979797;
}

.slider-element-quotes {
    margin-bottom: 25px;
}

.slick-list {
    left: 230px;
}



.slick-current div .reviews-slider-element {
    background-color: #1FDB84;
}

.slick-current div .icon-qoutes:before {
    color: #fff;
}
.slick-current div .reviews-content,
.slick-current div .reviews-author,
.slick-current div .reviews-organization{
    color: #fff;
}

.slick-dots li {
    border: 3px solid #fff;
    border-radius: 50%;
}
.slick-dots li button:before {
    color: #fff;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
}

.slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
}

.slick-dots li button:hover:before {
    opacity: .3;
}

.partners-heading {
    font-size: 16px;
    color: #031d5b;
    text-align: center;
    margin-bottom: 45px;
}

.partners-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.partners-item {
    margin-bottom: 50px;
    margin-right: 20px;
    transition: transform .4s ease;
}
.partners-item:hover {
    transform: scale(1.09);
}

.footer {
    background-color: #f8f9fc;
    padding-bottom: 100px;
}

.copyright {
    color: #5B6C94;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
}

.footer-nav-item {
    color: #5B6C94;
}

.footer-nav-link {
    color: inherit;
    transition: color .4s ease;
}

.footer-nav-link:hover {
    color: #031D5B;
}



/*media queries*/


@media screen and (max-width: 1200px) {
    .slick-list {
        left: 0px;
        padding-left: 50px;
    }

}


@media screen and (max-width: 950px) {
    .header-content {
        max-width: 53%;
    }
    .header-img-container {
        max-width: 38%;
        margin-right: 0;
        margin-bottom: 100px;
    }

    .header-heading {
        padding-right: 0;
        font-size: 40px;
    }

}
@media screen and (max-width: 880px) {
    .slick-list {
        text-align: center;
        padding-left: 0;
    }
    .reviews-author {
        left: 50%;
        transform: translate(-50%, 0);
    }
    .reviews-slider-element {
        max-width: 450px;
    }
    .reviews {
        background-color: #313A5A;
    }
    .wrapper {
        padding: 0;
    }
    header {
        padding: 0 5px;
    }
    .reviews-heading {
        color: #ffffff;
    }
    .background-block {
        display: none;
    }
    .reviews-content {
        max-width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .top-line {

        position: relative;
        padding: 15px 10px;
    }
    header > .wrapper{
        margin-bottom: 75px;
    }
    .header-img-container {
        display: none;
    }
    .header-content {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 80%;
        text-align: center;
        padding-bottom: 50px;
    }
    .burger-button {
        display: inline-block;
        position: absolute;
        left: 5px;
        bottom: 32px;
    }


    .header-navigation {
        position: absolute;
        width: 327px;
        top: -1000%;
        left: -10px;
        padding: 20px;
        background-color: rgba(31,219,132, .9);
    }


    .navigation-item {
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .header-navigation .navigation-link {
        display: inline-block;
    }
    .header-navigation-open {
        top: 90%;
    }

    .logo-container {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .logo {
        line-height: 20px;

    }
    .dignity {
        margin-top: 0;
        max-width: 100%;
        margin-bottom: 50px;
    }
    main .wrapper {
        padding: 0;
    }
    .paid-heading {
        font-size: 35px;
        padding: 0 30px;
    }


}
@media screen and (max-width: 666px) {

    .dignity-item-img-container {
        margin-left: auto;
        margin-right: auto;
    }
    .dignity-item {
        text-align: center;

    }
    .dignity-item:after {
        width: 100%;
    }
    .paid-heading {
        font-size: 30px;
        line-height: 40px;
    }
    .tabs-button-item {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .tabs-button {
        margin-bottom: 20px;
    }

    .tabs-button-item:first-child {
        width: 308px;
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
    }
    .tabs-button-item:last-child {
        border-left: 1px solid #AEFDD9;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
    }

    .tabs-list-item {
        padding: 20px 0;
        margin-bottom: 50px;
    }

    .tabs-list-price-discription {
        margin-bottom: 30px;
    }

    .tabs-list-services-item {
        margin-bottom: 10px;
    }
    .reviews {
        padding-left: 0;
    }

}

@media screen and (max-width: 450px) {
    .dignity {
        padding-left: 0;
    }
    .dignity-item {
        margin-right: 0;
    }
    .wrapper {
        padding: 0;
    }
    .reviews-slider-element {
        max-width: 327px;
        padding: 80px 10px 60px 10px;
    }
}
